<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: burlywood;
            font-family: verdana;
        }
    </style>
</head>
<body>
    <h1>Welcome User</h1>

    <section aria-label="search" id="search">
        <header>
            <h2>Search Friends</h2>
        </header>
        <main>
            Search : <input id="searchInput">
            <br>
            <button id="searchBtn">Search Friends</button>
        </main>
        <!-- The details tag is cool -->
        <details>
            <summary>List data</summary>
            <ul id="searchRes">

            </ul>
        </details>
    </section>

    <section aria-label="update Status">
        <h2>Update Status</h2>
        <label for="status">
            Update Status : <input id="status" type="text">
            
        </label>
        <button id="update">Update Status</button>
    </section>
    
    <section aria-label="view Friends">
        <details>
            <summary id="viewFriends">View Friends</summary>
            <P>My friends list</P>
            <ul id="friendsData">
                
            </ul>
        </details>
    </section>


    <section aria-label='search skill'>
        <header>
            <h2>Search Skill</h2>
        </header>

        <p>
            <label for="searchSkill">
                Search Skill : <input id="searchSkill">
                <button id="skillBtn">Search Skill</button>
            </label>
            <main>
                <details >
                    <summary>Skill Result</summary>
                    <main id="skillRes"></main>
                    <section label="rel" id="rel"></section>
                </details>
            </main>
        </p>
    </section>


    <script>
        /**
         * @param {String} text : -> String representation of data to verify
         * @returns true if text is empty or contains only white space
        */
        const verifyNotEmpty = (text) => {
            let notEmpty = 'true'
            if (text.length === 0) return false
            let start = text[0]
            if (start !== ' ') return true
            for (let char of text){
                if(char !== ' ') return true
            }
            return false
        }
       const searchBtn = document.querySelector("#searchBtn")
       searchBtn.addEventListener("click", (e) => {
        searchInput = document.querySelector("#searchInput").value
        if(verifyNotEmpty(searchInput)) {
            return getFriends(searchInput)

        }
        else{
            alert('Invalid input')
        }
       })

       async function getFriends(search){
           const fetchFriends = await fetch(`http://localhost:8000/searchFriends?data=${search}`, {
               method : 'GET',
               credentials:"same-origin",
                
           })

           const allMatches = await fetchFriends.json()
           console.log(allMatches)
           const ul = document.querySelector("#searchRes")
           ul.innerHTML = ''
           for(let data of allMatches){
               
               ul.innerHTML += `<li>${data} <button id='${data}' class='addFriend'>Add Friend</button>`
           }
       }
       /** 
        * 
       */
      const addToFriendsList = async (user) => {
        
        const add = await fetch(`http://localhost:8000/addFriend?friend=${user}`)
        const res = await add.text()
        alert(res)
      }

       const checkAddFriend = (e) => {
            const clicked = e.target
            if(clicked.classList.contains('addFriend')){
                addToFriendsList(clicked.id)
            }
       }
       document.body.addEventListener("click", checkAddFriend)

       

       const statusBtn = document.querySelector("#update")
       const updateStatus = async (e) => {
           const newStatus = document.querySelector("#status").value
           const update = await fetch(`http://localhost:8000/updateStatus`, {
               method : "PUT",
               credentials: "same-origin",
               headers:{
                   "Content-Type" : 'application/json'
               },
               body : JSON.stringify({newStatus})
           })

           const res = await update.text()
           alert(res)
       }
       statusBtn.addEventListener("click", updateStatus)

       const viewFriends = document.querySelector('#viewFriends')
       let friends; 

       const viewFriendsList = async (e) => {
            const fetchFriends = await fetch('http://localhost:8000/fetchFriends', {
                method : "GET",
                credentials : 'same-origin'
            })
            const friendsList = await fetchFriends.json()
            friends = friendsList
            buildRes(friendsList)
       }
       viewFriends.addEventListener("click", viewFriendsList)


       function buildRes(friendsList) {
           friendsList.forEach((friend, index) => {
                const details = document.createElement("details")
                details.innerHTML = `
                <summary>${friend.username}</summary>
                <p>Skill : ${friend.skill || "No skill specified"}</p>
                <p>Status : ${friend.status.status || "Hey there, I use BFS"} </p>
                `

                const btn = document.createElement("button")
                btn.classList.add("Like")
                console.log(friend.status)
                const status = friend.status.likes || {}

                let likeCount = 0
                for(let item in status){
                    likeCount += 1
                }
                console.log(friend.status)
                const liked = status.hasOwnProperty(sessionStorage.getItem("user"))
                console.log(sessionStorage.getItem("user"), liked)
                if(liked){
                    btn.innerHTML = `${likeCount} &#10084; Liked` // Red colored heart
                }
                else{
                    btn.innerHTML = `${likeCount} &#9825; Like` // Uncolored heart
                }

                


                btn.id = friend.username
                btn.setAttribute("data-likes", likeCount)
                btn.setAttribute('data-idx', index)
                details.appendChild(btn)
                btn.onclick = react
                const friendsData = document.querySelector('#friendsData')
                friendsData.appendChild(details)
           })

           function react(e){
               const clicked = e.target
               let likes = Number(clicked.getAttribute("data-likes"))
               const friendIdx = clicked.getAttribute("data-idx") || -1
               const reactData = {
                   user : friends[friendIdx],
                   liked : true
               }
               if(friendIdx >= 0){
                   // If image liked, unlike
                   // mockDiv just converts unicode from text to Reak Unicode for better comparison with btn unicode
                   let mockDiv = document.createElement("div")
                   mockDiv.innerHTML = `${likes} &#10084; Liked`
                   console.log("res : ", clicked.innerHTML === mockDiv.innerHTML  )
                   
                   if(clicked.innerText === mockDiv.innerHTML){
                       clicked.innerHTML = `${likes - 1} &#9825; Like`
                       reactData.liked = false
                   }

                   else{
                       clicked.innerHTML =   `${likes + 1} &#10084; Liked`
                   }

                   fetch("http://localhost:8000/react", {
                       method : "POST",
                       credentials: 'same-origin',
                       headers : {
                           "Content-Type" : "application/json"
                       },
                       body  : JSON.stringify(reactData)

                   })

               }

           }
       }

       const skillBtn = document.querySelector("#skillBtn")

       const searchSkill = async (e) => {
           const skillInput = document.querySelector("#searchSkill").value
           if(verifyNotEmpty(skillInput)){
                const fetchSearch = await fetch('http://localhost:8000/searchSkill', {
                    method : "POST",
                    credentials:"same-origin",
                    headers: {
                        "Content-Type" : "application/json"
                    }, 
                    body : JSON.stringify({skill : skillInput})
                })
                
                if(fetchSearch.ok){
                    const res = await fetchSearch.json()
                    console.log(res)

                    if (res.firstFound !== null){
                        const skillRes = document.querySelector("#skillRes")
                        skillRes.innerText = `Here is your closest relationship ${res.firstFound}`

                        return showRel(res.firstFound, res.signedIn, res.parents)

                    }
                    else{
                        alert(`You are not connected to anybody with Skill : ${skillInput}`)
                    }
                }
               else{
                alert("Bad request")
               }
           }
           else {alert("Error: Invalid input")}
       }

       skillBtn.addEventListener("click", searchSkill)

       function showRel(firstFound, signedIn,parents){
               let start = parents[firstFound]
               const rel = [firstFound]
               while(start){
                   rel.push(start)
                   start = parents[start]
               }
               console.log(rel)
               rel.reverse()
               return displayRes(rel)
       }

       function displayRes(rel){
           const relDiv = document.querySelector("#rel")
            relDiv.innerText = "Here is how you can reach skill"
            for(let userIdx = 0; userIdx < rel.length; userIdx++){
                const user = rel[userIdx]
                let li = document.createElement("li")
                if (userIdx == 0) li.innerHTML = user + ' (You)'
                else li.innerHTML = user
                relDiv.appendChild(li)
            }
       }

    </script>
</body>
</html>